<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Python27\python.exe|C:\Python27\Scripts\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="vds.xsvds.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\xsvds\" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="C:\inetpub\logs\logfiles\xsvds\app.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config)|(\.yml))$" />
  </appSettings>
</configuration>
